<div class="container">
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Web UI</h3>
      </div>
      <div class="contact">
        {{msg}}
      </div>
    </div>
  </div>